/*
	
	## LOVELY SASS STUFF ##

*/

/**
*	Imports
**/

@import "bootstrap/_bootstrap.scss";
@import "ladda/_ladda.scss";
@import "svgs/icons.fallback.scss";
@import "svgs/icons.png.scss";
@import "svgs/icons.svg.scss";
@import "font-awesome.min.scss";


/**
*	Colors
**/

$color-white: #fff;
$color-dark-blue: #183043;
$color-lighter-dark-blue: #244056;
$color-grey-dashboard-bg: #e7e7e7;
$color-dashboard-box-border: #d9d9d9;
$color-text-black: #3d3e42;
$color-dashboard-red: #f35a66;
$color-dashboard-rich-red: #d8344d;
$color-dashboard-green: #38d9be;
$color-dashboard-yellow: #f3ca4c;
$color-dashboard-dark-red: #d8344d;
$color-dashboard-blue: #35acf0;
$color-dashboard-borders: #e8e8e6;
$color-darker-white: #f3f3f3;
$color-nav-bg: #1c1c1c;
$color-pure-black: #000;
$color-light-yellow: #f3ca4c;
$color-dashboard-light-grey: #f2f2f2;
$color-dashboard-input-grey: #bababa;
$color-text-dark-blue: #172f42;
$color-dashboard-addon: #cdcdcd;
$color-profile-text:#3d3e42;

/**
*	Font Setup 
**/

$font-family: 'Lato', sans-serif;
$default-font-size: 16;

$light: 300;
$medium: 400;
$bold: 700;
$black: 900;


/**
*	Mixin Mixins
**/

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $context: $default-font-size;
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value/$context}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


*{
	*behavior: url(/css/boxsizing.htc);
}

/* BOOTSTRAP HACKS */


.no-gutter > [class*='col-'], .no-gutter {
    padding-right:0;
    margin-left:0;
    margin-right:0;
    padding-left:0;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.modal-backdrop{
	height:100%;
	width:100%;
}

.modal-dialog, .modal-content{
	z-index:9999;
}

.left{
	float:left !important;
}

.right{
	float:right !important;
}

/* ANIMATIONS */

.fadeOut{
 animation-duration: 0.5s;
 animation-iteration-count: 1;
 animation-timing-function: ease;
    animation-name: fadeHide;
    animation-fill-mode: forwards;
    display:none;
}

.fadeIn{
 animation-duration: 0.5s;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
 animation-timing-function: ease;
    animation-name: fadeShow;
    display:block;
}

@keyframes fadeHide {
    0% {
        display:block; 
        opacity: 1;
    }

    99% {
        display: none ; 
        opacity: 0;
    }

    100% {
        display: none; 
        opacity: 0;
    }
}

@keyframes fadeShow {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: 1;
    }
}

/* HTML & BODY */

body{
	font-family: $font-family;
	background: $color-grey-dashboard-bg;
	padding-top: 88px;
}

/**
*	Dashboard
**/


/* HEADER */

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
	background:none !important;
}

.navbar-fixed-top .dropdown-menu{
	background:$color-dark-blue;
}

.navbar.navbar-inverse .navbar-nav .dropdown-menu li a{
	@include rem-fallback(font-size, 16);
	@include rem-fallback(padding,10, 25);
}


.navbar.navbar-inverse .navbar-nav .dropdown-menu li a::after{
	content:"" !important;
}

.navbar-fixed-top .dropdown-menu > li > a:focus, .navbar-fixed-top .dropdown-menu > li > a:hover{
	background-color: rgba(225, 225, 225, 0.1);
}

.navbar.navbar-inverse{
	
	margin-bottom:0;
	background: $color-dark-blue;
	@include rem-fallback(padding, 10, 0, 20, 0);
	border-radius:0;
	z-index:999;

	.navbar-brand{
		color:$color-white;
		padding-top:0;

		img{
			display:inline-block;
		}

		span{
			display:inline-block;
		}
	}

	.navbar-nav{
		color: $color-white;
		@include rem-fallback(margin-top,5);

		li{

			a{

				color: $color-white;
			}

			a:after{
				content:"|";
				color:$color-white;
				@include rem-fallback(font-size,20);
			    @include rem-fallback(line-height,22);
			    @include rem-fallback(padding-left,25);
			    vertical-align: bottom;
			}

		}

		li:last-child{

			a:after{
				content:"";
			}
		}
	}

	form{

		float:left;
		@include rem-fallback(margin-top,10);
		@include rem-fallback(margin-left,30);

		.input-group{
			background: $color-lighter-dark-blue;
			box-shadow:  0 0 0 1px $color-lighter-dark-blue;
			border: 1px solid $color-dark-blue;
			border-radius: 3px 3px 3px 3px;
		}

		button, input{
			background:none;
			border:none;
			color:$color-darker-white;
			@include rem-fallback(padding,12,12,12,12);

			@include placeholder {
			    color:$color-darker-white;
			    font-style:italic;
			    font-weight:$light;
			}
		}

		input{
			height:100%;
		}

		button{
			@include rem-fallback(padding,12,16,12,16);
		}
	}
}

/* DASHBOARD - SIDE NAV */

nav#sideNav{

	background:$color-nav-bg;
	height:100%;
	position:fixed;
	left:0;

	ul{
		list-style:none;
		margin:0;
		padding-left:0;

		li{

			border-top:1px solid #3e3e3e;
			border-bottom: 1px solid $color-pure-black;

			a{
				text-transform:uppercase;
				color:$color-white;
				@include rem-fallback(font-size, 14);
				display:block;
				text-align:center;
				@include rem-fallback(padding,30,0,30,0);

				span{

					&.fa, &.glyphicon{
						display:none;
					}
				}

				&:hover, &.active,  &:active, &:focus{
					background:$color-dashboard-rich-red;
					text-decoration:none;
					text-shadow: 0 1px 0 $color-pure-black;
				}

				&.active:after{
						left: 100%; 
						border: solid transparent; 
						content: " "; 
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(216, 52, 77, 0);
						border-left-color: #d8344d;
						border-width: 15px; 
						margin-top: -5px;
				}
			}
		}

		li:last-child{

			border-bottom:1px solid #3e3e3e;

			a{
				border-bottom: 1px solid $color-pure-black;
			}
		}

	}
}

/* DASHBOARD - MAIN CONTENT */

#main_content{

	float:right;
	height:100%;
	overflow-y:auto;

	.alert{
		width:95%;
		border-radius:10px;
		margin:30px auto 0;
	}


	#content_box{

		background:$color-white;
		border:1px solid $color-dashboard-box-border;
		border-radius: 10px;
		@include rem-fallback(margin,30);

		.boxTop{

			@include rem-fallback(padding,30,30,0,30);

			h2{

			}
		}

		.regWrapper{
			@include rem-fallback(padding,30);
		}

		.charts{

			@include rem-fallback(padding,20,95,0,95);

			.tables{

				img{
					max-width:35px;
					max-height:35px;
				}
			}

			.viewedCandidates {
				float:right;

				&.jobsDiscipline{

					.btn.btn-green{
						background:$color-dashboard-green;
						border-color:$color-dashboard-green;
						text-transform: capitalize;
					}

					h6{

						span{
							font-style:italic;
							font-weight:$light;
						}
					}
				}
			}

			.uncompletedCandidates{

				.btn{
					background:$color-light-yellow;
					border-color:$color-light-yellow;
					text-transform:capitalize;
					@include rem-fallback(font-size,14);
					letter-spacing:1px;
					@include rem-fallback(padding-left,30);
					@include rem-fallback(padding-right,30);

					&.btn-success{
						background:$color-dashboard-blue;
						border:$color-dashboard-blue;
					}
				}

				&.applicationStatus{

					span{
						font-style:italic;

						&.fail{
							color: $color-dashboard-red;
						}

						&.interview{
							color: $color-dashboard-yellow;
						}

						&.success{
							color: $color-dashboard-green;
						}
					}
				}
			}

			.completedProfiles{

				position:relative;
				text-align:center;

				svg {
					margin: 0 auto;
				  display: block;

				  tspan{
				  	text-transform:uppercase;
				  }
				}

				#loader { 
					fill: $color-dashboard-green; 
				}

				#circle{
					fill: $color-dashboard-light-grey;
				}

				.circle{
					@include rem-fallback(height,275);
					@include rem-fallback(width,275);
					margin:0 auto;
					text-align:center;
					position:absolute;
					z-index:2;
					display:none;
					left:50px;

					p{
						@include rem-fallback(font-size,60);
						text-transform:uppercase;
						text-align:center;
						@include rem-fallback(line-height,20);
						@include rem-fallback(max-width, 125);
						@extend %vertical-align;
						margin:0 auto;
						tetx-align:center;
						display:none;

						span{
							@include rem-fallback(font-size,20);
							@include rem-fallback(line-height,40);

							&:last-child{
								@include rem-fallback(line-height,22);
								display:block;
								text-align:center;
							}
						}
					}

				}
			}

			td{
				text-align:center;
			}

			h6{
				color:$color-text-black;
				@include rem-fallback(font-size,14);
				letter-spacing:1px;
				@include rem-fallback(margin-bottom, 23);
			}
		}
	}

}


/**
*	User Profile Edit
**/


.fields{

	float:right;
	@include rem-fallback(padding,30);
}

#editSidebar{

	float:left;
	@include rem-fallback(padding,30, 0, 0, 30);

	.nav{
		width:100%;

		li{

			@include rem-fallback(margin-top, 4);
			@include rem-fallback(padding, 0);

			&:first-child{
	
			}

			a{
				background:$color-darker-white;
				color:#b4b4b4;
				border-radius:5px 5px 0 0;
				border:1px solid $color-white;
				border-bottom:1px solid #ddd;
				text-align:center;
				width:100%;
			}

			&.active{

				border:$color-dashboard-blue;
				background:$color-dashboard-blue;
				border-radius:5px 5px 0 0;
				border-bottom:none;
				@include rem-fallback(padding,2, 0, 2, 0);
				@include rem-fallback(margin-top, 2);

				a{
					background:$color-dashboard-blue;
					color:$color-white;
					border:$color-dashboard-blue;
					border-radius:5px 5px 0 0;
				}
			}
		}
	}

	svg {

		@include rem-fallback(margin,30, 0, 50, 0);
		margin-right:auto;
		margin-left:auto;
		display: block;

		tspan{
			text-transform:uppercase;
		}
	}

	#loader { 
		fill: $color-dashboard-green; 
	}

	#circle{
		fill: $color-dashboard-light-grey;
	}

	.circle{
		@include rem-fallback(height,275);
		@include rem-fallback(width,275);
		margin:0 auto;
		text-align:center;
		position:absolute;
		z-index:2;
		display:none;
		left:50px;

		p{
			@include rem-fallback(font-size,60);
			text-transform:uppercase;
			text-align:center;
			@include rem-fallback(line-height,20);
			@include rem-fallback(max-width, 125);
			@extend %vertical-align;
			margin:0 auto;
			tetx-align:center;
			display:none;

			span{
				@include rem-fallback(font-size,20);
				@include rem-fallback(line-height,40);

				&:last-child{
					@include rem-fallback(line-height,22);
					display:block;
					text-align:center;
				}
			}
		}

	}

	hr{
		width:80%;
		margin: 0 auto;
	}

	ul.profileProgress{

		@include rem-fallback(padding,30,50);
		list-style:none;

		li{

			margin-bottom:24px;

			img{
				text-align:left;
				max-width:37px;
				max-height:37px;
				float:left;
				@include rem-fallback(line-height,33);
			}

			svg{
				margin:0;
			}

			span{
				/*@include rem-fallback(margin-left,25);*/
				margin-left:2%;
				float:left;
				width:60%;
				text-align:center;
				@include rem-fallback(line-height,33);
			}

			&.done{

				span:before{
					text-align:center;
					color:$color-dashboard-green;
					content:"COMPLETED"
				}

			}

			&.undone{
			
				span:before{
					text-align:center;
					color:$color-dashboard-red;
					content:"INCOMPLETED"
				}

			}

			div.icon{
				width:25px;
				height:33px;
				float:right;
				background-size:100% 100%;
				display:inline-block;

				&.icon-tick{
					background-image:url("/imgs/svgs/tick.svg");				
				}

				&.icon-cross{
					background-image:url("/imgs/svgs/cross.svg");
				}
			}

		}
	}

}

.fields{
	


	label{

		color:$color-dashboard-input-grey;
		@include rem-fallback(font-size,14);
		@include rem-fallback(margin-bottom,12);
	}

	input, textarea{
		border:1px solid $color-dashboard-input-grey;
		@include rem-fallback(padding,15);
		height:auto;
		border-radius:0;
	}

	#locationGroup{
		#candLoc, #jobLoc{
			width:95%;
		}

		.input-group-btn{

			button{
				@include rem-fallback(padding,26, 25, 25, 25);
				width:60px;
				border-radius:5px;
				background:$color-darker-white;
				border:1px solid $color-dashboard-input-grey;
			}

			.icon.icon-geo{
				background: url("/imgs/svgs/geo.svg") center center no-repeat;
				background-size:40% 40%;

				&:active{
					background:none;
				}
			}
		}
	}

	.ui-select-bootstrap{

		&.form-control, .form-control{
			height:auto;
			padding:15px;
		}

		&.form-control{
			padding:10px;
		}

	}

	#candRoleDesc{
		min-height: 300px;

	}

	#skills{

		.ui-select-match-item{
			background:$color-dashboard-green;
			color:$color-white;
			text-shadow: 0 1px 0 #2dae98;
			border:none;
			@include rem-fallback(padding,5, 10, 5, 2);
			font-weight:$light;
			@include rem-fallback(font-size,14);
		}

		.ui-select-match-close{
			color:#248c7a;
			float:left;
			@include rem-fallback(margin-right,7);
			@include rem-fallback(margin-top, 3);
		}

		.ui-select-multiple{

			&.ui-select-bootstrap{

				input.ui-select-search{
					width:auto;
				}
			}
		}
	}

	.action-td {
    	display: none;
	}

	tr:hover {
		.info-td {
	    	display: none;
		}
 		
 		.action-td {
	    	display: table-cell;
		}
	}	

	#quals{
		color:$color-text-dark-blue;

		tr{
			
			position:relative;

			td{

				width:33%;
				text-align:left;

				&.center{
					text-align:center;
				}

				&.overlay{
					background-color: $color-dark-blue;
					border:none;
					padding-top:0;
					padding-bottom:0;
					position:relative;

					a{
						color:$color-white;
						background-repeat:no-repeat;
						display: inline-block;
					    @include rem-fallback(height,55);
					    @include rem-fallback(width,45);
					    background-size:100% 100%;
					    @include rem-fallback(line-height,15);
					    color:transparent;

						&.icon-edit-white{
							background-image:url('/imgs/svgs/edit-white.svg');
						}

						&.icon-close-white{
							background-image:url('/imgs/svgs/close-white.svg');
						}
					}
				}
				
			}

			td:first-child{
				text-align:left;
			}

		}

		td{
			@include rem-fallback(padding, 15);
		}
	}

	#basic-addon2{
		color:$color-dashboard-addon;
	}

	.form-actions{

		button{
			text-transform:uppercase;
			background:$color-dashboard-blue;
			@include rem-fallback(padding, 20, 40);
			font-weight:$bold;
			border:none;
			@include rem-fallback(font-size, 15);
		}
	}

	p:last-of-type{
		@include rem-fallback(margin-top, 30);
		@include rem-fallback(font-size, 13);
		color:$color-dashboard-input-grey;

		span{
			text-transform:uppercase;
			color:$color-dashboard-red;
		}
	}
}

#searchResults{
	
	h2{
		@include rem-fallback(font-size, 18);
		text-transform:uppercase;
	}

	#results{

		@include rem-fallback(padding, 30);

		.filters{

			@include rem-fallback(margin-top, 30);
			border-right:1px solid $color-dashboard-light-grey;

			h2{
				margin-top:0;
				padding-top:0;
			}

			input{
				border:1px solid $color-dashboard-input-grey;
				@include rem-fallback(padding,15);
				height:auto;
				@include rem-fallback(font-size,16);
				border-radius:0;	
			}

			label{
				color:#86d2f2;
				@include rem-fallback(font-size,12);
				@include rem-fallback(margin, 17, 0, 12, 0);
			}

			form{

				div:first-of-type{

					label{
						margin-top:0;
					}
				}
			}

			.select2-container--default .select2-selection--single .select2-selection__arrow{
				height:50px;
			}

			.select2-container--default .select2-selection--single{
				height:50px;
				padding:10px;
			}

			.select2-search__field{
				padding:0;
				border:0;
			}

			#skills{

				.select2-selection__rendered{
					@include rem-fallback(padding,5);
				}

				.select2-selection__choice{
					background:$color-dashboard-green;
					color:$color-white;
					text-shadow: 0 1px 0 #2dae98;
					border:none;
					@include rem-fallback(padding,5, 10);
					font-weight:$light;
				}

				.select2-selection__choice__remove{
					color:#248c7a;
					@include rem-fallback(margin-right,7);
				}
			}

			#quals{

				.singleQual{
					input.qual, div.ui-select-match{
						@include rem-fallback(margin-bottom,15);
					}
				}

			}

			button#filterSubmit{
				text-transform:uppercase;
				background:$color-dashboard-blue;
				@include rem-fallback(padding, 15, 40);
				font-weight:$bold;
				border:none;
				width:100%;
				@include rem-fallback(font-size, 14);
			}

			.input-group-addon{
				color:$color-dashboard-addon;
			}

		}

		#sort{

			@include rem-fallback(margin-bottom, 45);

			p{
				color:$color-dashboard-input-grey;
				@include rem-fallback(font-size, 16);
				font-weight:$light;
				font-style:italic;
				text-transform:capitalize;
				letter-spacing:1px;

				span{
					color:$color-dashboard-red;
				}
			}

			.sortSelect{

				float:right;
			}
		}


		.resultHit{

			@include rem-fallback(padding, 0, 25);

			img{
				max-width:100%;
			}

			.details{

				@include rem-fallback(font-size, 15);
				color:$color-text-dark-blue;
				@include rem-fallback(margin-top, 5);

				p{
					@include rem-fallback(line-height,16);
				}
			}

			a{
				text-transform:uppercase;
				@include rem-fallback(padding, 10, 35);
				@include rem-fallback(font-size, 14);
				background:$color-dashboard-blue;
				border:none;
				white-space:normal;
				@include rem-fallback(margin-top, 10);
			}

			.avail {
			
				img{
					@include rem-fallback(margin-top, 8);
				}
			}
		}
	}
}

#profiles{
	
	.boxTop{
			
		h2{
			@include rem-fallback(font-size, 18);
			text-transform:uppercase;
		}
	}

	div.theDeets{
		
		@include rem-fallback(padding, 30);

		#avatar{

			@include rem-fallback(padding-left, 60);

			figure{
				width:100%;

				img{
					max-width:100%;
				}
			}
		}

		#profile{

			.details{

				@include rem-fallback(padding-top, 20);
				
				p{
					color:$color-text-black;
					@include rem-fallback(line-height, 20);
					@include rem-fallback(font-size, 18);
					letter-spacing:1px;

					span{
						color:$color-dashboard-red;
					}

					&.bio{
						color:$color-profile-text;
						font-weight:$light;
					}
				}

				.skills{

					span{
						background:$color-dashboard-blue;
						color:$color-white;
						text-shadow: 0 1px 0 #2dae98;
						border:none;
						border-radius:10px;
						text-transform:capitalize;
						@include rem-fallback(padding,7, 15);
						@include rem-fallback(line-height,38);
						font-weight:$light;
						word-break: keep-all;
						white-space:nowrap;
					}
				}

				.table{
					 
					 img{
					 	height:30px;
					 	width:22px;
					 }

					td{
						color:$color-text-dark-blue;
						@include rem-fallback(text-size, 14);
						@include rem-fallback(padding, 15);
					}
				}
			}

			button{
				text-transform:uppercase;
				background:$color-dashboard-yellow;
				@include rem-fallback(padding, 15, 40);
				font-weight:$bold;
				border:none;
				@include rem-fallback(font-size, 14);
			}
		}
	}
}

.getAllWrapper{
	@include rem-fallback(padding, 0,30,30);
}

.login{
	overflow:auto;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;

	#content_box{

		@include rem-fallback(padding, 30);

		button{

			text-transform:uppercase;
			@include rem-fallback(font-size, 16);
			border:none;
			background:$color-dashboard-blue;
			@include rem-fallback(padding, 10,40);
		}
	}
}

/* HOMEPAGE */

#homepage{
	
	.hero{

		height:445px;
		width:100%;
		text-align:center;

		.group{
			
			color:$color-white;
			@extend %vertical-align;
			@include rem-fallback(padding-top, 30);
			letter-spacing:1px;

			h1{
				text-transform:uppercase;
				margin:0;
				font-weight:$bold;
				@include rem-fallback(font-size, 48);
			}

			h4{
				@include rem-fallback(font-size, 18);
				@include rem-fallback(line-height, 25);
				font-weight:$medium;
				@include rem-fallback(margin-bottom, 70);
			}

			a{
				text-transform:uppercase;
				color:$color-white;
				@include rem-fallback(padding, 15,30);
				border:1px solid $color-white;
			}
		}
	}

	#intro{

		border-top:2px solid #7f7f7f;
		border-bottom:1px solid #d9d9d9;
		text-align:center;
		background: $color-white;

		div{
			margin:0 auto;
			float:none;
			@include rem-fallback(padding, 45,0);

			&.legal{
				text-align:left;

				table, td, thead, li, ul, td a{
					@include rem-fallback(font-size, 16);
					@include rem-fallback(line-height,30);
					font-weight:$light;
				}
			}

			h3{
				font-style:italic;
				@include rem-fallback(font-size, 36);
				@include rem-fallback(margin-bottom, 30);
			}

			p{
				font-weight:$light;
				@include rem-fallback(font-size, 16);
				@include rem-fallback(line-height,30);

				span{
					color:$color-dashboard-green;
					font-weight:$medium;
				}
			}
		}
	}

	#benefits{

		text-align:center;
		@include rem-fallback(padding, 60, 0);
		background:#f0f0f0;

		.padding{
			text-alig:center;
			float:none;
			margin: 0 auto;
			display:flex;
			justify-content:center;
			flex-direction:row;
			align-items:stretch;

			.bucket{
				border:1px solid #d9d9d9;
				background:$color-white;
				border-radius:5px;
				@include rem-fallback(padding,30, 30, 45, 30);
				align-self:stretch;
				@include rem-fallback(margin-right,45);

				.userTitle{
					border-top:1px solid #000;
					border-bottom:1px solid #000;
					@include rem-fallback(margin-bottom,45);
				}

				img{
					@include rem-fallback(margin-bottom,15);
				}

				&:last-of-type{
					margin-right:0;
				}

				p{
					color:#4d4d4d;
					font-weight:$light;
					@include rem-fallback(font-size,16);
					@include rem-fallback(line-height,30);
				}

				&.box1{
					.userTitle{
						border-color:$color-dashboard-blue;
						color:$color-dashboard-blue;
					}
				}

				&.box2{
					.userTitle{
						border-color:$color-dashboard-green;
						color:$color-dashboard-green;
					}
				}

				&.box3{
					.userTitle{
						border-color:$color-dashboard-yellow;
						color:$color-dashboard-yellow;
					}
				}
			}

		}
	}

	#quote{

		@include rem-fallback(padding,50,0);
		background: url("/imgs/homepage/pattern.gif");
		border-top:1px solid $color-dashboard-box-border;
		border-bottom: 1px solid #6a7985;

		.floatbox{
			margin: 0 auto;
			float:none;
			background:$color-dashboard-light-grey;
			border:1px solid $color-dashboard-box-border;
			padding-left:0;
			border-radius:5px;

			figure{

				float:none;
				display:inline-block;
				padding-left:0;
				width:49%;

				img{
					max-width:100%;
				}
			}
	
			blockquote{
				color:$color-text-black;
				font-style:italic;
				font-weight:$light;
				@include rem-fallback(font-size,18);
				@include rem-fallback(line-height,35);
				border:none;
				text-align:justify;
				display:inline-block;
				float:none;
				vertical-align: middle;
				@include rem-fallback(padding,60);

				cite{
					display:block;
					@include rem-fallback(font-size,14);
					color:$color-dashboard-red;
					font-weight:$bold;
					font-style:normal;
					text-align:center;
				}
			}
		}
	}

	#bluebanner{

		background:$color-dark-blue;
		@include rem-fallback(padding,40,0,40,0);


		p{
			float:none;
			margin: 0 auto;
			color:$color-white;
			font-weight:$bold;
			@include rem-fallback(font-size,18);
			text-transform:uppercase;
			@include rem-fallback(line-height,22);
			text-align:center;
			letter-spacing:1px;
		}

		a{
			@include rem-fallback(padding,15,40);
			border-radius:5px;
			background:$color-dashboard-red;
			@include rem-fallback(font-size,16);
			color:$color-white;
			margin-left:10%;
		}
	}

	footer{

		border-top:1px solid #0b1a27;
		background: url("/imgs/homepage/stripes.png");
		color:$color-white;
		@include rem-fallback(padding, 30, 0, 20,0);

		div.wrapper{
			float:none;
			margin:0 auto;

			ul{
				list-style:none;

				li{

					@include rem-fallback(margin-bottom,10);

					h4{
						border-bottom:1px solid $color-white;
					}

					a{
						color:$color-white;
					}
				}

				&.social{

					li{
						float:right;
						@include rem-fallback(margin-left,30);
					}
				}
			}

			p:first-child{
				@include rem-fallback(margin-top,10);
			}
		}

	}
}

#contactForm{

	h3{
		text-transform:uppercase;
	}
	
	input{
		@include rem-fallback(margin-bottom, 15);
		@include rem-fallback(padding, 15);
		height:60px;
	}

	button[type="submit"]{
		background-color: $color-dashboard-green;
		@include rem-fallback(padding, 20, 40);
		text-transform:uppercase;
		border:none;
		@include rem-fallback(font-size,14);
		font-weight:$bold;
		letter-spacing: 1px;
	}

	span.extra{
		@include rem-fallback(font-size,13);
		font-style:italic;
		font-weight:$light;
		color:#767676;
		@include rem-fallback(margin-top,7);
	}

	.modal-footer{
		@include rem-fallback(padding-bottom,30);
	}
}

.col-centered, .no-gutter > .col-centered, .no-gutter > #main-content.col-centered, #main-content.col-centered{
    float: none !important;
    margin: 0 auto;
}

.ui-select-toggle.form-control{
	overflow-x:hidden;
}

.ui-select-placeholder{
	display:block;
	width:94%;
	overflow-x:hidden;
}

/**
*	Media Queries == Responsive
**/

@media only screen and (min-width: 1057px){
	
	#bluebanner{

		p{
			width:100%;
		}
	}

}

@media only screen and (min-width: 1201px) and (max-width:1265px){
	
	.navbar{
		form{
			width:30%;
		}
	}

}

@media only acreen and (min-width:970px) and (max-width:1170px){
	
	.navbar{
		form{
			width:14%;
		}
	}	

}

@media only screen and (max-width: 970px){

	.right, .left{
		float:none !important;
	}
	
	#main_content{

		#content_box{

			@include rem-fallback(padding,15);

			.charts{
				@include rem-fallback(padding,30, 30, 0);
			}

		}

	}

	.footable{
		a{
			&.btn{
				@include rem-fallback(margin-right,15px);
				@include rem-fallback(font-size, 14);
				@include rem-fallback(padding, 10, 20);
				@include rem-fallback(margin-bottom, 20);
				text-transform:capitalize;
				font-weight:$bold;
			}
		}
	}

	#profiles{

		div.theDeets{

			@include rem-fallback(padding,0, 30, 0);

			#profile{

			}

		}

	}

	.navbar.navbar-inverse{
			
		.navbar-nav{

			 li{

			 	a{

			 		@include rem-fallback(padding,17, 0, 17, 10);

			 		&:after{
						@include rem-fallback(padding-left,10);
			 		}
			 	}
			 }
		}
	}

	.footable-row-detail-row{
		@include rem-fallback(padding, 5, 5, 15, 5);
		display:block !important;

		&:last-child{
			border-bottom:none !important;
		}

		.footable-row-detail-value{
			display:block;
		}
	}

	tr.footable-row-detail{
		border: 1px solid $color-dashboard-box-border !important;
	}

	#main_content{
		#content_box{
			.charts{
				.viewedCandidates{
					float:none !important;
				}
			}
		}
	}

}

@media only screen and (max-width: 843px){


	#homepage{

		#benefits{

			.padding{

				display:block;

				.bucket{
					clear:both;
					@include rem-fallback(margin-bottom,15);
					display:block;
					margin-right:0;
				}
			}
		}
		
		#bluebanner{

			p{

				text-align:center;
				display:block;
				clear:both;
				
				a{
					display:block;
					clear:both;
					@include rem-fallback(margin-top,15);
					margin-left:0;
				}
			}
		}

	}

}

@media only screen and (max-width: 767px){

	body{
		@include rem-fallback(padding-top,80);
	}

	.navbar.navbar-inverse{

		@include rem-fallback(padding-bottom,5);

		.navbar-nav{

			li{

				a:after{

					content:"";
				}
			}
		}

		.navbar-header{

			.navbar-toggle{
				@include rem-fallback(margin-top,18);
				border:none;

				&:hover, &:focus{
					background:none;
				}
			}
		}

		.navbar-brand{
			@include rem-fallback(font-size, 17);
			height:auto;
			padding:0;
		}

	}

	table.footable{

		tbody{
			border:1px solid $color-dashboard-box-border;
		}

		th{
			border-bottom:none !important;
		}
	}

}

@media only screen and (max-width: 750px){

	.left, .right{
		float:none;
	}
	
}


@media only screen and (min-width: 451px) {
	
	body, html{
		font-size: 16px;
	}

}



@media only screen and (max-width: 450px) {
	
	body, html{
		font-size: 17px;
	}

	body{
		@include rem-fallback(padding-top,80);
	}

	p{
		@include rem-fallback(padding-left, 10);
		@include rem-fallback(padding-right, 10);
	}


	#homepage{

		.hero{

			.group{

				h1{
					@include rem-fallback(font-size, 30);
				}
			}
		}

	}

	.alert{
		@include rem-fallback(margin-top, 60);
	}

	.navbar{

		#searchBar{

			height:45px;
			@include rem-fallback(margin, 10, 0, 5, 0);

			form{
				margin:0;
				@include rem-fallback(padding, 0, 15);
				width:auto;
			}
		}

	}

	nav#sideNav{

		transition: width 0.2s ease-in-out;
		z-index:998;
		@include rem-fallback(margin-top,5);

		ul{

			li{

				a{
					color:transparent;
					text-shadow:none;
					@include rem-fallback(padding, 20,0);

					span{

						display:none;
						transition: text-indent 0.2s ease-in-out;
						text-indent:-9999px;

						&.fa, &.glyphicon{
							display:block;
							@include rem-fallback(font-size, 30);
							color: $color-white;
							text-indent:0;
						}
					}

					&.active, &:hover, &:active, &:focus{
						text-shadow:none;

						&:after{
							border-left:none;
						}
					}
				}
			}
		}

		&.slide{
			@include rem-fallback(width, 200);
			z-index:998;

				ul{
					li{

						a{
							color:$color-white;

							&.active, &:hover{
								text-shadow: 0 1px 0 $color-pure-black;
							}

							span{

								display:block;
								text-indent:0;

								&.fa, &.glyphicon{
									display:none;

									&.close{
										display:block;
										@include rem-fallback(font-size, 25);
										color: $color-white;
										width:100%;
										opacity:1;
										@include rem-fallback(margin-top, -10);
									}
								}
							}
						}
					}
				}
		}
	}

	#main_content{

		display:block;

		#content_box{
			
			@include rem-fallback(margin,0);
			@include rem-fallback(margin-top,0);
			@include rem-fallback(padding,15);
			border-radius:0;

			min-height:100%;

			.charts, .boxTop{
				@include rem-fallback(padding,0);
			}

			#editSidebar{
				@include rem-fallback(padding,0);
				@include rem-fallback(font-size,12);

				.profileProgress{
					@include rem-fallback(padding-left,0);
					@include rem-fallback(padding-right,0);
				}
			}

			.fields{
				@include rem-fallback(padding,0);
				@include rem-fallback(margin-top, 20);
			}

			tr:hover {
				.info-td {
			    	display: block;
				}
			}

			#profiles{

				div.theDeets{

					@include rem-fallback(padding,0);

					#profile{
						@include rem-fallback(padding,0);
						@include rem-fallback(margin,0);

						.skills{
							span{
								text-align:center;
								margin:0 auto;
								width:75%;
								@include rem-fallback(margin-bottom, 15);
								display:block;
								clear:both;
							}
						}
					}

				}

			}

			#results{
				@include rem-fallback(padding, 0);
			}

			.getAllWrapper{
				@include rem-fallback(padding, 0);
			}

			.footable-row-detail-value{
				.btn{
					display:block;
					margin-right:0;
					@include rem-fallback(padding,10px);
					width:100%;
				}
			}

			td.footable-row-detail-cell{
				max-width:50px !important;
			}

		}

		.alert{
			width:100%;
			@include rem-fallback(margin-top,10px);
			border-radius:0;
			z-index:999;
		}
	}

}

.ie8{

section, \:section {
  display: block;
}	
	
	#homepage{

		.navbar{

			.nav{

				a{
					
					display:none;

					&:after{
						content:"";
					}
				}
			}
		}

		.hero {

			.group{
				top:25% !important;
			}
		}

		#benefits{

			.bucket{
				width:32% !important;
				margin-right: 1% !important;
				min-height:270px !important;
			}
		}
	}
}

