​** Contact Request
------------------------------------------------------------

I would like to submit a request to contact someone from {{comp}} about the following candidate/job advert:

View Profile/Job Advert ({{link}})



You have recieved this email as your email address is registered on Match People Skills (https://www.matchpeopleskills.com) . If you do not believe this to be correct, please click here (info@alta-blue.com) to log a complaint.