** Job Application Submission
------------------------------------------------------------

{{name}} from {{comp}}, has submmited {{params.job.title}} position with {{company}}.

Login to View ({{link}})


You have recieved this email as your email address is registered on Match People Skills (https://www.matchpeopleskills.com) . If you do not believe this to be correct, please click here (info@alta-blue.com) to log a complaint.