.icon {
	background-repeat: no-repeat;

	&.icon-advert-red {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%2277.447%22%20viewBox%3D%22-8.05%20-4.4357%20100.0%20104.55345%22%20enable-background%3D%22new%20-13.05%203.309%20100%2077.447%22%3E%3Cpath%20fill%3D%22%23f35a66%22%20d%3D%22M86.95%203.31v65.84c0%206.13-5.344%2011.605-10.95%2011.605H1.16c-9.258%200-14.21-4.825-14.21-16.56V16.09H.77V3.308h86.18zM.77%2023.126h-6.78v41.07c0%205.998%201.43%208.866%203.256%208.866%202.22%200%203.524-2.868%203.524-8.866v-41.07zM79.913%2010.35H7.81v53.847c0%204.173-.782%207.17-1.957%209.517H76c2.344%200%203.912-2.737%203.912-4.562V10.35zm-44.33%2024.772H19.02v-2.347h16.56v2.347zm0%207.692H19.02v-2.347h16.56v2.347zm0%207.432H19.02V47.9h16.56v2.346zm0%207.172H19.02V55.07h16.56v2.348zm0%207.43H19.02v-2.345h16.56v2.345zM21.498%2020.65h43.417v4.564H21.5V20.65zm20.6%2012.125H69.87v26.468H42.1V32.775z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-advert {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%2277.447%22%20viewBox%3D%22-8.05%20-4.4357%20100.0%20104.55345%22%20enable-background%3D%22new%20-13.05%203.309%20100%2077.447%22%3E%3Cpath%20fill%3D%22%2338d9be%22%20d%3D%22M86.95%203.31v65.84c0%206.13-5.344%2011.605-10.95%2011.605H1.16c-9.258%200-14.21-4.825-14.21-16.56V16.09H.77V3.308h86.18zM.77%2023.126h-6.78v41.07c0%205.998%201.43%208.866%203.256%208.866%202.22%200%203.524-2.868%203.524-8.866v-41.07zM79.913%2010.35H7.81v53.847c0%204.173-.782%207.17-1.957%209.517H76c2.344%200%203.912-2.737%203.912-4.562V10.35zm-44.33%2024.772H19.02v-2.347h16.56v2.347zm0%207.692H19.02v-2.347h16.56v2.347zm0%207.432H19.02V47.9h16.56v2.346zm0%207.172H19.02V55.07h16.56v2.348zm0%207.43H19.02v-2.345h16.56v2.345zM21.498%2020.65h43.417v4.564H21.5V20.65zm20.6%2012.125H69.87v26.468H42.1V32.775z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-arrow {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%3E%3Cpath%20d%3D%22M50-.002C22.43-.002%200%2022.428%200%2050c0%2027.57%2022.43%2050.002%2050%2050.002S100%2077.57%20100%2050C100%2022.43%2077.57-.002%2050-.002zm0%2094.235C25.61%2094.233%205.77%2074.39%205.77%2050%205.77%2025.61%2025.61%205.768%2050%205.768%2074.39%205.768%2094.23%2025.61%2094.23%2050S74.39%2094.233%2050%2094.233zM44.783%2024.502c-1.127-1.127-2.952-1.127-4.08%200-1.126%201.126-1.126%202.952%200%204.08L62.124%2050l-21.42%2021.418c-1.126%201.127-1.126%202.952%200%204.08.564.562%201.303.844%202.04.844.74%200%201.477-.28%202.04-.845L68.24%2052.04c1.127-1.128%201.127-2.953%200-4.08L44.783%2024.502z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-avail-red {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-74%2076%20100%20100%22%20enable-background%3D%22new%20-74%2076%20100%20100%22%3E%3Cpath%20fill%3D%22%23f35a66%22%20d%3D%22M-21.7%2099.7c-1.3%200-2.2%201-2.2%202.3s1%202.3%202.2%202.3c11.8%200%2021.4%209.6%2021.4%2021.4%200%2011.8-9.6%2021.4-21.4%2021.4-10.9%200-19.9-8.1-21.3-18.6l1.6%201.6c.4.4%201%20.7%201.6.7s1.2-.3%201.6-.7c.9-.9.9-2.3%200-3.2l-5.7-5.7c-.9-.9-2.3-.9-3.2%200l-5.7%205.7c-.9.9-.9%202.3%200%203.2.9.9%202.3.9%203.2%200l1.9-1.9c1.3%2013.1%2012.4%2023.5%2025.9%2023.5%2014.3%200%2026-11.7%2026-26%20.2-14.3-11.5-26-25.9-26zM-30.3%20138.4c-.6%200-1.2-.3-1.7-.7-1-1-1-2.5%200-3.5l7.6-7.6v-15.3c0-1.4%201.1-2.4%202.4-2.4%201.4%200%202.4%201.1%202.4%202.4v16.3c0%20.6-.3%201.3-.7%201.7l-8.3%208.3c-.4.7-1%20.8-1.7.8z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-avail {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-74%2076%20100%20100%22%20enable-background%3D%22new%20-74%2076%20100%20100%22%3E%3Cpath%20fill%3D%22%2338d9be%22%20d%3D%22M-21.7%2099.7c-1.3%200-2.2%201-2.2%202.3s1%202.3%202.2%202.3c11.8%200%2021.4%209.6%2021.4%2021.4%200%2011.8-9.6%2021.4-21.4%2021.4-10.9%200-19.9-8.1-21.3-18.6l1.6%201.6c.4.4%201%20.7%201.6.7s1.2-.3%201.6-.7c.9-.9.9-2.3%200-3.2l-5.7-5.7c-.9-.9-2.3-.9-3.2%200l-5.7%205.7c-.9.9-.9%202.3%200%203.2.9.9%202.3.9%203.2%200l1.9-1.9c1.3%2013.1%2012.4%2023.5%2025.9%2023.5%2014.3%200%2026-11.7%2026-26%20.2-14.3-11.5-26-25.9-26zM-30.3%20138.4c-.6%200-1.2-.3-1.7-.7-1-1-1-2.5%200-3.5l7.6-7.6v-15.3c0-1.4%201.1-2.4%202.4-2.4%201.4%200%202.4%201.1%202.4%202.4v16.3c0%20.6-.3%201.3-.7%201.7l-8.3%208.3c-.4.7-1%20.8-1.7.8z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-candidate-red {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%3E%3Cg%20fill%3D%22%23f35a66%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2232%22%20r%3D%2218%22%2F%3E%3Cpath%20d%3D%22M68%2059H32c-4.97%200-9%204.03-9%209v18h54V68c0-4.97-4.03-9-9-9z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
	}

	&.icon-candidate-yel {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-97%2098%2055%2055%22%20enable-background%3D%22new%20-97%2098%2055%2055%22%3E%3Cg%20fill%3D%22%23F3B24C%22%3E%3Ccircle%20cx%3D%22-69.6%22%20cy%3D%22112.2%22%20r%3D%2212.9%22%2F%3E%3Cpath%20d%3D%22M-56.7%20131.6h-25.8c-3.6%200-6.5%202.9-6.5%206.5V151h38.8v-12.9c0-3.6-2.9-6.5-6.5-6.5z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
	}

	&.icon-candidate {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2232%22%20r%3D%2218%22%2F%3E%3Cpath%20d%3D%22M68%2059H32c-4.97%200-9%204.03-9%209v18h54V68c0-4.97-4.03-9-9-9z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-close-white {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-74%2076%20100%20100%22%20enable-background%3D%22new%20-74%2076%20100%20100%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M13.3%20123.8c-.7-9.9-5.2-18.9-12.7-25.3-6.7-5.8-15.3-9-24.2-9-10.8%200-21%204.7-28.1%2012.8-6.5%207.5-9.6%2017.1-8.9%2026.9.7%209.9%205.2%2018.9%2012.7%2025.3%206.7%205.8%2015.3%209%2024.2%209%2010.8%200%2021-4.7%2028.1-12.8%206.4-7.5%209.6-17.1%208.9-26.9zm-14.4%2022.1c-5.7%206.5-13.9%2010.3-22.6%2010.3-7.1%200-14-2.6-19.5-7.2-6-5.2-9.7-12.4-10.2-20.4-.6-7.9%202-15.6%207.2-21.6%205.7-6.6%2013.9-10.3%2022.6-10.3%207.1%200%2014%202.6%2019.4%207.2%206%205.2%209.6%2012.4%2010.2%2020.4.6%207.9-1.9%2015.6-7.1%2021.6zM-14.4%20138.3l-22-19.1%204.8-5.5%2022%2019.1zM-29.814%20139.4l-5.526-4.772%2019.017-22.028%205.526%204.77z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-close {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%3E%3Cswitch%3E%3CforeignObject%20requiredExtensions%3D%22http%3A%2F%2Fns.adobe.com%2FAdobeIllustrator%2F10.0%2F%22%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%2F%3E%3Cpath%20d%3D%22M50.008%20100.044c-11.993%200-23.597-4.32-32.68-12.166C7.216%2079.148%201.113%2066.995.137%2053.668c-.975-13.325%203.3-26.234%2012.032-36.343C21.683%206.31%2035.493%200%2050.052%200c11.987%200%2023.594%204.32%2032.67%2012.166%2010.112%208.727%2016.22%2020.877%2017.192%2034.21.978%2013.33-3.294%2026.244-12.03%2036.354-9.506%2011.003-23.313%2017.314-37.876%2017.314zm.044-90.222c-11.707%200-22.807%205.072-30.452%2013.925-7.02%208.123-10.452%2018.495-9.672%2029.21.786%2010.703%205.692%2020.47%2013.815%2027.488%207.3%206.308%2016.63%209.78%2026.264%209.78%2011.71%200%2022.807-5.074%2030.444-13.916%207.022-8.125%2010.453-18.504%209.672-29.22-.787-10.712-5.688-20.477-13.813-27.492-7.303-6.305-16.622-9.776-26.258-9.776zM61.687%2066.59l-29.73-25.682%206.412-7.43L68.1%2059.15zM59.147%2031.96l7.43%206.415-25.672%2029.74-7.43-6.417z%22%2F%3E%3C%2Fswitch%3E%3C%2Fsvg%3E');
	}

	&.icon-cross {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-74%2076%20100%20100%22%20enable-background%3D%22new%20-74%2076%20100%20100%22%3E%3Cpath%20fill%3D%22%23f35a66%22%20d%3D%22M-5.3%20154.1L-53.7%20110l11-12.1%2048.4%2044zM-39.902%20155.724l-12.144-11.022L-8.023%2096.2%204.12%20107.22z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-desc-red {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%3E%3Cpath%20fill%3D%22%23f35a66%22%20d%3D%22M83.51%2018.404c4.224%200%207.66%203.438%207.66%207.66V56.7c0%204.225-3.437%207.66-7.66%207.66H76.73l-1.14%201.227-9.313%2010.063V64.36H16.49c-4.224%200-7.66-3.434-7.66-7.658v-30.64c0-4.22%203.437-7.658%207.66-7.658h67.02m0-3.83H16.49C10.144%2014.574%205%2019.72%205%2026.064V56.7c0%206.347%205.145%2011.49%2011.49%2011.49h45.957v17.233L78.4%2068.19h5.11c6.344%200%2011.49-5.14%2011.49-11.488v-30.64c0-6.34-5.146-11.488-11.49-11.488%22%2F%3E%3Cpath%20fill%3D%22%23f35a66%22%20d%3D%22M14.574%2047.128h24.894v3.83H14.574zM43.298%2047.128h17.234v3.83H43.298zM64.36%2047.128h21.065v3.83H64.36zM70.106%2054.787H83.51v3.83H70.106zM33.724%2054.787h32.553v3.83H33.724zM16.49%2054.787h13.403v3.83H16.49z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-desc {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%3E%3Cpath%20fill%3D%22%2338d9be%22%20d%3D%22M83.51%2018.404c4.224%200%207.66%203.438%207.66%207.66V56.7c0%204.225-3.437%207.66-7.66%207.66H76.73l-1.14%201.227-9.313%2010.063V64.36H16.49c-4.224%200-7.66-3.434-7.66-7.658v-30.64c0-4.22%203.437-7.658%207.66-7.658h67.02m0-3.83H16.49C10.144%2014.574%205%2019.72%205%2026.064V56.7c0%206.347%205.145%2011.49%2011.49%2011.49h45.957v17.233L78.4%2068.19h5.11c6.344%200%2011.49-5.14%2011.49-11.488v-30.64c0-6.34-5.146-11.488-11.49-11.488%22%2F%3E%3Cpath%20fill%3D%22%2338d9be%22%20d%3D%22M14.574%2047.128h24.894v3.83H14.574zM43.298%2047.128h17.234v3.83H43.298zM64.36%2047.128h21.065v3.83H64.36zM70.106%2054.787H83.51v3.83H70.106zM33.724%2054.787h32.553v3.83H33.724zM16.49%2054.787h13.403v3.83H16.49z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-discipline-red {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%3E%3Cpath%20fill%3D%22%23f35a66%22%20d%3D%22M91.875%2028.357h-16.98V17.184c0-2.042-2.018-3.696-4.504-3.696H29.488c-2.487%200-4.503%201.655-4.503%203.696v11.173H8.002C6.344%2028.357%205%2029.703%205%2031.36v52.638C5%2085.658%206.344%2087%208.002%2087h83.873c1.656%200%203.002-1.343%203.002-3.002v-52.64c0-1.655-1.346-3-3.002-3zm-57.885-7.48h31.897v7.48H33.99v-7.48z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-discipline {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%3E%3Cpath%20fill%3D%22%2338d9be%22%20d%3D%22M91.875%2028.357h-16.98V17.184c0-2.042-2.018-3.696-4.504-3.696H29.488c-2.487%200-4.503%201.655-4.503%203.696v11.173H8.002C6.344%2028.357%205%2029.703%205%2031.36v52.638C5%2085.658%206.344%2087%208.002%2087h83.873c1.656%200%203.002-1.343%203.002-3.002v-52.64c0-1.655-1.346-3-3.002-3zm-57.885-7.48h31.897v7.48H33.99v-7.48z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-edit-white {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-74%2076%20100%20100%22%20enable-background%3D%22new%20-74%2076%20100%20100%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%223%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M-9%20112.4l2.7%203.3-28.4%2023.2-5%201.2%202.3-4.6z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M13.3%20123.8c-.7-9.9-5.2-18.9-12.7-25.3-6.7-5.8-15.3-9-24.2-9-10.8%200-21%204.7-28.1%2012.8-6.5%207.5-9.6%2017.1-8.9%2026.9.7%209.9%205.2%2018.9%2012.7%2025.3%206.7%205.8%2015.3%209%2024.2%209%2010.8%200%2021-4.7%2028.1-12.8%206.4-7.5%209.6-17.1%208.9-26.9zm-14.4%2022.1c-5.7%206.5-13.9%2010.3-22.6%2010.3-7.1%200-14-2.6-19.5-7.2-6-5.2-9.7-12.4-10.2-20.4-.6-7.9%202-15.6%207.2-21.6%205.7-6.6%2013.9-10.3%2022.6-10.3%207.1%200%2014%202.6%2019.4%207.2%206%205.2%209.6%2012.4%2010.2%2020.4.6%207.9-1.9%2015.6-7.1%2021.6z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-facebook {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2250%22%20height%3D%2250%22%20enable-background%3D%22new%200%200%2016%2016%22%3E%3Cpath%20d%3D%22M8%200C3.582%200%200%203.582%200%208s3.582%208%208%208%208-3.582%208-8c0-4.42-3.582-8-8-8zm2.068%208h-1.31l-.002%204.8h-1.8V8h-1.2V6.346h1.2V5.37c0-1.35.365-2.17%201.954-2.17h1.324v1.655h-.828c-.62%200-.65.23-.65.662v.828h1.487L10.068%208z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-fulltime {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-349%20251%20100%20100%22%20enable-background%3D%22new%20-349%20251%20100%20100%22%3E%3Ccircle%20fill%3D%22%23848c95%22%20cx%3D%22-283.3%22%20cy%3D%22270%22%20r%3D%222.5%22%2F%3E%3Ccircle%20fill%3D%22%23848c95%22%20cx%3D%22-278.3%22%20cy%3D%22284.1%22%20r%3D%222.5%22%2F%3E%3Ccircle%20fill%3D%22%23848c95%22%20cx%3D%22-283.3%22%20cy%3D%22297.8%22%20r%3D%222.5%22%2F%3E%3Ccircle%20fill%3D%22%23848c95%22%20cx%3D%22-294.7%22%20cy%3D%22305.3%22%20r%3D%222.5%22%2F%3E%3Cpath%20fill%3D%22%23848c95%22%20d%3D%22M-304.3%20299.8c-.7%200-1.4-.3-2-.8-1.1-1.1-1.1-2.9%200-4l8.8-8.8v-17.8c0-1.6%201.3-2.8%202.8-2.8%201.6%200%202.8%201.3%202.8%202.8v18.9c0%20.7-.3%201.5-.8%202l-9.6%209.6c-.5.7-1.2.9-2%20.9z%22%2F%3E%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%23848c95%22%20stroke-width%3D%225.5%22%20stroke-miterlimit%3D%2210%22%20cx%3D%22-294.2%22%20cy%3D%22285%22%20r%3D%2227.4%22%2F%3E%3Ccircle%20fill%3D%22%23848c95%22%20cx%3D%22-311.6%22%20cy%3D%22284.1%22%20r%3D%222.5%22%2F%3E%3Ccircle%20fill%3D%22%23848c95%22%20cx%3D%22-306.2%22%20cy%3D%22270%22%20r%3D%222.5%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-geo {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-57.8%2076%2069.5%2069.2%22%20enable-background%3D%22new%20-57.8%2076%2069.5%2069.2%22%3E%3Cpath%20fill%3D%22%23aaa%22%20d%3D%22M-15.5%20143.8h-.2c-1.4-.1-2.5-1-2.9-2.4l-7.2-28-28-7.2c-1.3-.3-2.3-1.5-2.4-2.9-.1-1.4.7-2.6%202-3.1l60.4-23c1.2-.4%202.5-.2%203.3.7.9.9%201.2%202.2.7%203.3l-23%2060.4c-.2%201.4-1.4%202.2-2.7%202.2z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-google {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2250%22%20height%3D%2250%22%20viewBox%3D%220%200%20612%20612%22%20enable-background%3D%22new%200%200%20612%20612%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M296.07%20247.387c0-31.295-18.695-80.033-54.803-80.033-11.294%200-23.48%205.647-30.46%2014.382-7.4%209.124-9.57%2020.863-9.57%2032.186%200%2029.125%2016.97%2077.418%2054.384%2077.418%2010.878%200%2022.617-5.23%2029.6-12.185%209.987-10.042%2010.85-23.95%2010.85-31.768zM612%20306C612%20137.004%20474.995%200%20306%200%20137.004%200%200%20137.004%200%20306c0%20168.995%20137.004%20306%20306%20306%20168.995%200%20306-137.005%20306-306zm-211.836-58.835H423.7v47.068h47.067v23.535H423.7v47.068h-23.536v-47.068h-47.068v-23.535h47.068v-47.068zm-258.93%20175.087c0-15.66%207.816-37.832%2033.492-53.077%2026.956-16.523%2063.51-18.693%2083.065-20-6.09-7.846-13.046-16.107-13.046-29.57%200-7.4%202.17-11.74%204.34-16.97-4.785.416-9.57.862-13.937.862-46.095%200-72.188-34.383-72.188-68.294%200-20%209.124-42.2%2027.845-58.28C215.62%20156.48%20245.19%20153%20268.668%20153h89.603l-27.845%2015.634H303.47c9.985%208.262%2030.877%2025.676%2030.877%2058.724%200%2032.186-18.276%2047.402-36.525%2061.756-5.647%205.647-12.184%2011.74-12.184%2021.31s6.537%2014.8%2011.294%2018.693l15.662%2012.184c19.14%2016.08%2036.525%2030.88%2036.525%2060.923%200%2040.865-39.586%2082.203-114.39%2082.203-63.036.028-93.497-29.988-93.497-62.174zM272.59%20361.775c-3.477-.417-5.647-.417-9.987-.417-3.922%200-27.4.862-45.677%206.982-9.57%203.477-37.416%2013.91-37.416%2044.787s30.016%2053.05%2076.556%2053.05c41.755%200%2063.926-20.002%2063.926-46.958%200-22.2-14.326-33.938-47.402-57.445z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
	}

	&.icon-keyword-red {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%20height%3D%22100%22%20width%3D%22100%22%3E%3Cpath%20fill%3D%22%23f35a66%22%20d%3D%22M92.5%2022.5h-85C6.1%2022.5%205%2023.6%205%2025v50c0%201.4%201.1%202.5%202.5%202.5h85c1.4%200%202.5-1.1%202.5-2.5V25c0-1.4-1.1-2.5-2.5-2.5zm-2.5%2050H10v-45h80v45zM17.5%2062.5c-1.4%200-2.5%201.1-2.5%202.5s1.1%202.5%202.5%202.5h15c1.4%200%202.5-1.1%202.5-2.5s-1.1-2.5-2.5-2.5h-5v-25h5c1.4%200%202.5-1.1%202.5-2.5s-1.1-2.5-2.5-2.5h-15c-1.4%200-2.5%201.1-2.5%202.5s1.1%202.5%202.5%202.5h5v25h-5z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-keyword {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%20height%3D%22100%22%20width%3D%22100%22%3E%3Cpath%20fill%3D%22%2338d9be%22%20d%3D%22M92.5%2022.5h-85C6.1%2022.5%205%2023.6%205%2025v50c0%201.4%201.1%202.5%202.5%202.5h85c1.4%200%202.5-1.1%202.5-2.5V25c0-1.4-1.1-2.5-2.5-2.5zm-2.5%2050H10v-45h80v45zM17.5%2062.5c-1.4%200-2.5%201.1-2.5%202.5s1.1%202.5%202.5%202.5h15c1.4%200%202.5-1.1%202.5-2.5s-1.1-2.5-2.5-2.5h-5v-25h5c1.4%200%202.5-1.1%202.5-2.5s-1.1-2.5-2.5-2.5h-15c-1.4%200-2.5%201.1-2.5%202.5s1.1%202.5%202.5%202.5h5v25h-5z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-linkedin {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2249.652%22%20height%3D%2249.652%22%20viewBox%3D%220%200%2049.652%2049.652%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M29.35%2021.298c-2.125%200-3.074%201.168-3.605%201.988v-1.704h-4.002c.052%201.128%200%2012.04%200%2012.04h4.002v-6.726c0-.36.023-.72.13-.977.29-.72.95-1.466%202.055-1.466%201.448%200%202.027%201.104%202.027%202.724v6.442h4.002v-6.905c-.002-3.696-1.977-5.417-4.61-5.417zm-3.608%202.03h-.025c.008-.014.02-.027.025-.04v.04zM15.523%2021.582h4.002v12.04h-4.002zM24.826%200C11.136%200%200%2011.137%200%2024.826c0%2013.688%2011.137%2024.826%2024.826%2024.826%2013.688%200%2024.826-11.138%2024.826-24.826C49.652%2011.136%2038.516%200%2024.826%200zM37.99%2036.055c0%201.056-.875%201.91-1.958%201.91h-22.58c-1.08%200-1.958-.854-1.958-1.91V13.21c0-1.054.877-1.91%201.957-1.91h22.582c1.082%200%201.96.857%201.96%201.91v22.845zM17.55%2015.777c-1.367%200-2.263.898-2.263%202.08%200%201.155.87%202.08%202.21%202.08h.027c1.396%200%202.265-.925%202.265-2.08-.028-1.18-.87-2.08-2.24-2.08z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
	}

	&.icon-location-red {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%3E%3Cg%20fill%3D%22%23f35a66%22%3E%3Cpath%20d%3D%22M61.25%2064.955l-1.52%201.48c11.25%201.257%2019.102%204.978%2019.102%209.74%200%206.2-12.603%2011.825-29.81%2011.825h-.045C31.77%2088%2019.17%2082.374%2019.17%2076.176c0-4.763%207.852-8.483%2019.102-9.74l-1.52-1.48c-15.147%201.5-24.004%206.34-24.004%2013.817%200%2010.088%2016.226%2017.06%2036.253%2017.06s36.254-6.972%2036.254-17.06c0-7.48-8.858-12.318-24.004-13.818zM49%2080.354l.023.036s24.224-37.17%2024.224-49.393C73.247%2013.015%2060.97%205.19%2049%205.167c-11.97.024-24.247%207.848-24.247%2025.83%200%2012.22%2024.224%2049.393%2024.224%2049.393l.023-.036zm-8.398-50.37c0-4.64%203.76-8.4%208.398-8.4%204.64%200%208.398%203.76%208.398%208.4S53.638%2038.38%2049%2038.38c-4.638.002-8.398-3.758-8.398-8.397z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
	}

	&.icon-location {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%3E%3Cg%20fill%3D%22%2338d9be%22%3E%3Cpath%20d%3D%22M61.25%2064.955l-1.52%201.48c11.25%201.257%2019.102%204.978%2019.102%209.74%200%206.2-12.603%2011.825-29.81%2011.825h-.045C31.77%2088%2019.17%2082.374%2019.17%2076.176c0-4.763%207.852-8.483%2019.102-9.74l-1.52-1.48c-15.147%201.5-24.004%206.34-24.004%2013.817%200%2010.088%2016.226%2017.06%2036.253%2017.06s36.254-6.972%2036.254-17.06c0-7.48-8.858-12.318-24.004-13.818zM49%2080.354l.023.036s24.224-37.17%2024.224-49.393C73.247%2013.015%2060.97%205.19%2049%205.167c-11.97.024-24.247%207.848-24.247%2025.83%200%2012.22%2024.224%2049.393%2024.224%2049.393l.023-.036zm-8.398-50.37c0-4.64%203.76-8.4%208.398-8.4%204.64%200%208.398%203.76%208.398%208.4S53.638%2038.38%2049%2038.38c-4.638.002-8.398-3.758-8.398-8.397z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
	}

	&.icon-mps {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2275%22%20height%3D%2275%22%20viewBox%3D%223.75%20-7.5%2075.0%20101.25%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M65.316%2032.41c-1.01-6.147-4.104-9.14-6.397-10.548l-.345-.053s-4.75-1.732-8.698%207.13c3.146%202.644%203.688%208.48%202.465%2013.3-1.598%206.288-8.783%209.904-8.783%209.904l-2.094-2.162-6.277%2015.482h17.574l-2.093-2.93s6.975-4.74%2010.044-8.646c3.068-3.906%206.276-11.297%204.602-21.48z%22%2F%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M25.705%2047.82C12.733%2031.362%2032.12%2022.645%2032.12%2022.645l1.674%202.51%206.138-15.62H22.356l2.37%202.928c-3.207%201.325-7.74%205.788-7.74%205.788S7.922%2027.458%209.385%2040.64c1.465%2013.18%209.485%2014.087%209.485%2014.087l15.76-.418c-3.975-.28-8.925-6.487-8.925-6.487zM40.628%2020.693c-4.462.418-6.555%206.974-6.555%206.974-3.216%2010.4-5.7%2015.92-6.938%2018.36l-.21.435c2.818%203.98%205.87%205.934%209.178%207.027%202.25.166%205.572-8.528%205.572-8.528%202.813-7.346%204.21-10.6%206.696-16.946.404-1.016%202.366-6.97%206.764-7.36-2.935-.094-10.9-.3-14.506.037z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
	}

	&.icon-onboard {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-97%2098%2055%2055%22%20enable-background%3D%22new%20-97%2098%2055%2055%22%3E%3Cg%20fill%3D%22%2335ACF0%22%3E%3Ccircle%20cx%3D%22-62.4%22%20cy%3D%22112%22%20r%3D%2213.3%22%2F%3E%3Cpath%20d%3D%22M-49.1%20132h-26.6c-1.9%200-3.7.8-4.9%202.2%202.1%202.1%206.3%206.4%206.4%206.5.4.5.6%201%20.6%201.6s-.2%201.1-.6%201.6c-.2.2-7.6%207.7-7.6%207.7-.2.2-.3.3-.5.4h40v-13.3c-.1-3.7-3.1-6.7-6.8-6.7z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%2335ACF0%22%20d%3D%22M-75.7%20142.3c0%20.6-.2%201.1-.6%201.6-.2.2-7.6%207.7-7.6%207.7-1.9%202.1-5.1-.9-3.3-3l3-3.7h-10.5c-1.4%200-2.1-1.3-2.1-2.7%200-1.3.7-2.7%202.1-2.7h10.5l-3-3.7c-1.8-2%201.4-5%203.3-3%200%200%207.4%207.5%207.6%207.7.4.7.6%201.2.6%201.8z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-outboard {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-97%2098%2055%2055%22%20enable-background%3D%22new%20-97%2098%2055%2055%22%3E%3Cg%20fill%3D%22%2338D9BE%22%3E%3Ccircle%20cx%3D%22-64.4%22%20cy%3D%22111.3%22%20r%3D%2213.3%22%2F%3E%3Cpath%20d%3D%22M-51.1%20131.3h-26.6c-1.5%200-2.8.5-3.9%201.3.6.8.7%201.8%200%202.7l-2.4%202.9-.3.4H-74c1.4%200%202.1%201.7%202.1%203.1%200%201.3-.7%202.9-2.1%202.9h-10.2l.3.4%202.4%203c1.1%201.2.4%202.7-.7%203.4h38.1v-13.3c-.3-3.8-3.3-6.8-7-6.8z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%2338D9BE%22%20d%3D%22M-94.3%20140c.2-.2%207.6-7.7%207.6-7.7%201.9-2.1%205.1.9%203.3%203l-3.5%204.5h11.8c1.4%200%202%20.5%201.9%201.9%200%201.3-.6%201.9-2%201.9h-11.6l3.4%204.5c1.8%202-1.4%205-3.3%203%200%200-7.4-7.5-7.6-7.7-.4-.5-.6-1-.6-1.6.1-.8.3-1.3.6-1.8z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-parttime {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%3E%3Cpath%20fill%3D%22%23848c95%22%20d%3D%22M54.62%208.908c-1.973%200-3.574%201.602-3.574%203.578%200%201.976%201.602%203.578%203.575%203.578%2018.494%200%2033.54%2015.047%2033.54%2033.543%200%2018.495-15.046%2033.542-33.54%2033.542-16.97%200-31.03-12.677-33.23-29.057l2.505%202.505c.7.7%201.614%201.047%202.53%201.047.916%200%201.83-.348%202.53-1.047%201.397-1.398%201.397-3.663%200-5.06l-8.922-8.923c-1.397-1.397-3.663-1.397-5.06%200L6.05%2051.537c-1.396%201.397-1.396%203.662%200%205.06%201.398%201.397%203.664%201.397%205.062%200l3.012-3.01c2.007%2020.578%2019.403%2036.718%2040.498%2036.718%2022.44%200%2040.697-18.258%2040.697-40.698-.002-22.44-18.26-40.7-40.7-40.7z%22%2F%3E%3Ccircle%20fill%3D%22%23848c95%22%20cx%3D%2269.431%22%20cy%3D%2229.083%22%20r%3D%223.371%22%2F%3E%3Ccircle%20fill%3D%22%23848c95%22%20cx%3D%2276.173%22%20cy%3D%2248.166%22%20r%3D%223.372%22%2F%3E%3Ccircle%20fill%3D%22%23848c95%22%20cx%3D%2269.431%22%20cy%3D%2266.708%22%20r%3D%223.371%22%2F%3E%3Ccircle%20fill%3D%22%23848c95%22%20cx%3D%2254.105%22%20cy%3D%2276.822%22%20r%3D%223.372%22%2F%3E%3Cpath%20fill%3D%22%23848c95%22%20d%3D%22M41.14%2069.414c-.97%200-1.94-.37-2.68-1.11-1.482-1.48-1.483-3.883-.002-5.364l11.856-11.86V27.108c0-2.095%201.698-3.793%203.79-3.793%202.095%200%203.79%201.698%203.79%203.793v25.54c0%201.007-.397%201.97-1.108%202.683L43.823%2068.304c-.74.74-1.71%201.11-2.682%201.11z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-phone-red {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-370%20248.3%20100%20100%22%20enable-background%3D%22new%20-370%20248.3%20100%20100%22%3E%3Cpath%20fill%3D%22%23F35A66%22%20d%3D%22M-303%20334.8h-34c-2.8%200-5-2.2-5-5v-63c0-2.8%202.2-5%205-5h34c2.8%200%205%202.2%205%205v63c0%202.8-2.2%205-5%205zm-34-71c-1.7%200-3%201.3-3%203v63c0%201.7%201.3%203%203%203h34c1.7%200%203-1.3%203-3v-63c0-1.7-1.3-3-3-3h-34zM-341%20274.3h41v2h-41zM-341%20321.3h41v2h-41zM-320%20330.8c-1.7%200-3-1.3-3-3s1.3-3%203-3%203%201.3%203%203-1.3%203-3%203zm0-4c-.6%200-1%20.4-1%201s.4%201%201%201%201-.4%201-1-.4-1-1-1zM-323%20268.3h6v2h-6z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-phone {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-370%20248.3%20100%20100%22%20enable-background%3D%22new%20-370%20248.3%20100%20100%22%3E%3Cpath%20fill%3D%22%2338D9BE%22%20d%3D%22M-303%20334.8h-34c-2.8%200-5-2.2-5-5v-63c0-2.8%202.2-5%205-5h34c2.8%200%205%202.2%205%205v63c0%202.8-2.2%205-5%205zm-34-71c-1.7%200-3%201.3-3%203v63c0%201.7%201.3%203%203%203h34c1.7%200%203-1.3%203-3v-63c0-1.7-1.3-3-3-3h-34zM-341%20274.3h41v2h-41zM-341%20321.3h41v2h-41zM-320%20330.8c-1.7%200-3-1.3-3-3s1.3-3%203-3%203%201.3%203%203-1.3%203-3%203zm0-4c-.6%200-1%20.4-1%201s.4%201%201%201%201-.4%201-1-.4-1-1-1zM-323%20268.3h6v2h-6z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-qual-grey {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%3E%3Cpath%20d%3D%22M83.255%2086.466c-3.61-.534-5.515-1.7-5.515-1.7s1.588-1.618%202.908-4.08c1.323-2.462%202.344-5.53%202.344-5.53s-2.422%202.1-6.216%204.158c-1.074.55-2.128%201.022-3.154%201.426-2.432-2.19-6.513-6.687-9.006-13.83%202.03-2.29%205.006-2.98%209.325-2.328-1.038-6.87%201.32-10.344%208.108-12.02-3.526-6.035-2.625-10.27%202.97-14.72-5.595-4.448-6.496-8.688-2.97-14.72-6.787-1.678-9.146-5.15-8.107-12.02-6.867%201.04-10.342-1.32-12.017-8.106C55.89%206.52%2051.653%205.62%2047.203.026c-4.45%205.594-8.69%206.495-14.722%202.97-1.676%206.786-5.147%209.146-12.018%208.105%201.04%206.872-1.32%2010.344-8.104%2012.022%203.524%206.03%202.623%2010.27-2.97%2014.72%205.593%204.45%206.494%208.685%202.97%2014.72%206.783%201.676%209.144%205.15%208.104%2012.02%204.13-.625%207.025-.01%209.046%202.044-5.22%2013.74-14.63%2025.092-14.63%2025.092l12.542-2.72-.15%2010.878s12.303-5.772%2018.59-25.76c.445.47.893.976%201.344%201.54.542-.683%201.08-1.292%201.622-1.834%202.058%203.56%204.514%207.038%207.377%209.9%204.734%204.942%2016.845%2014.298%2033.323%203.157%200%200-2.658.12-6.27-.414zm-36.05-21.67c-14.89%200-26.957-12.067-26.957-26.954s12.068-26.956%2026.956-26.956c14.886%200%2026.954%2012.068%2026.954%2026.956%200%2014.887-12.068%2026.955-26.954%2026.955z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-qual-red {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%3E%3Cpath%20fill%3D%22%23f35a66%22%20d%3D%22M83.255%2086.466c-3.61-.534-5.515-1.7-5.515-1.7s1.588-1.618%202.908-4.08c1.323-2.462%202.344-5.53%202.344-5.53s-2.422%202.1-6.216%204.158c-1.074.55-2.128%201.022-3.154%201.426-2.432-2.19-6.513-6.687-9.006-13.83%202.03-2.29%205.006-2.98%209.325-2.328-1.038-6.87%201.32-10.344%208.108-12.02-3.526-6.035-2.625-10.27%202.97-14.72-5.595-4.448-6.496-8.688-2.97-14.72-6.787-1.678-9.146-5.15-8.107-12.02-6.867%201.04-10.342-1.32-12.017-8.106C55.89%206.52%2051.653%205.62%2047.203.026c-4.45%205.594-8.69%206.495-14.722%202.97-1.676%206.786-5.147%209.146-12.018%208.105%201.04%206.872-1.32%2010.344-8.104%2012.022%203.524%206.03%202.623%2010.27-2.97%2014.72%205.593%204.45%206.494%208.685%202.97%2014.72%206.783%201.676%209.144%205.15%208.104%2012.02%204.13-.625%207.025-.01%209.046%202.044-5.22%2013.74-14.63%2025.092-14.63%2025.092l12.542-2.72-.15%2010.878s12.303-5.772%2018.59-25.76c.445.47.893.976%201.344%201.54.542-.683%201.08-1.292%201.622-1.834%202.058%203.56%204.514%207.038%207.377%209.9%204.734%204.942%2016.845%2014.298%2033.323%203.157%200%200-2.658.12-6.27-.414zm-36.05-21.67c-14.89%200-26.957-12.067-26.957-26.954s12.068-26.956%2026.956-26.956c14.886%200%2026.954%2012.068%2026.954%2026.956%200%2014.887-12.068%2026.955-26.954%2026.955z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-qual {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%225.0%20-10.0%20100.0%20135.0%22%3E%3Cpath%20fill%3D%22%2338d9be%22%20d%3D%22M83.255%2086.466c-3.61-.534-5.515-1.7-5.515-1.7s1.588-1.618%202.908-4.08c1.323-2.462%202.344-5.53%202.344-5.53s-2.422%202.1-6.216%204.158c-1.074.55-2.128%201.022-3.154%201.426-2.432-2.19-6.513-6.687-9.006-13.83%202.03-2.29%205.006-2.98%209.325-2.328-1.038-6.87%201.32-10.344%208.108-12.02-3.526-6.035-2.625-10.27%202.97-14.72-5.595-4.448-6.496-8.688-2.97-14.72-6.787-1.678-9.146-5.15-8.107-12.02-6.867%201.04-10.342-1.32-12.017-8.106C55.89%206.52%2051.653%205.62%2047.203.026c-4.45%205.594-8.69%206.495-14.722%202.97-1.676%206.786-5.147%209.146-12.018%208.105%201.04%206.872-1.32%2010.344-8.104%2012.022%203.524%206.03%202.623%2010.27-2.97%2014.72%205.593%204.45%206.494%208.685%202.97%2014.72%206.783%201.676%209.144%205.15%208.104%2012.02%204.13-.625%207.025-.01%209.046%202.044-5.22%2013.74-14.63%2025.092-14.63%2025.092l12.542-2.72-.15%2010.878s12.303-5.772%2018.59-25.76c.445.47.893.976%201.344%201.54.542-.683%201.08-1.292%201.622-1.834%202.058%203.56%204.514%207.038%207.377%209.9%204.734%204.942%2016.845%2014.298%2033.323%203.157%200%200-2.658.12-6.27-.414zm-36.05-21.67c-14.89%200-26.957-12.067-26.957-26.954s12.068-26.956%2026.956-26.956c14.886%200%2026.954%2012.068%2026.954%2026.956%200%2014.887-12.068%2026.955-26.954%2026.955z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-quote {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20height%3D%22100%22%20width%3D%22100%22%3E%3Cpath%20d%3D%22M94.8%2057.3c-1.3-8.7-8.7-14.9-17.1-15.3%202.1-7.8%207.2-10.9%2013.4-12.7.6-.2.5-.8.5-.8l-1-6.2s-.1-.5-.9-.4c-21.4%202.4-35.9%2018.7-33.2%2038.5C59%2074.1%2069.7%2079.4%2079.6%2078c9.9-1.6%2016.7-10.8%2015.2-20.7zM26.5%2042c2-7.8%207.3-10.9%2013.4-12.7.6-.2.5-.8.5-.8l-.9-6.2s-.1-.5-.9-.4C17.2%2024.2%202.8%2040.5%205.3%2060.3%207.9%2074.1%2018.7%2079.4%2028.5%2078c9.9-1.6%2016.7-10.8%2015.1-20.7-1.3-8.8-8.6-15-17.1-15.3z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-search {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%224.5%20-9.0%2090.0%20121.5%22%20enable-background%3D%22new%200%200%2090%2090%22%20height%3D%22100%22%20width%3D%22100%22%3E%3Cpath%20d%3D%22M38%2055c4%200%207.6-1.4%2010.5-3.7l17.1%2017.1c.4.4.9.6%201.4.6s1-.2%201.4-.6c.8-.8.8-2%200-2.8l-17-17.1C53.7%2045.6%2055%2042%2055%2038c0-9.4-7.6-17-17-17s-17%207.6-17%2017%207.7%2017%2017%2017zm0-30c7.2%200%2013%205.8%2013%2013s-5.8%2013-13%2013-13-5.8-13-13%205.9-13%2013-13z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-tag-red {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20height%3D%22100%22%20width%3D%22100%22%3E%3Cpath%20fill%3D%22%23f35a66%22%20d%3D%22M86.7%2018.8c-.1-3.4-1.9-5.6-5-5.9h-.2l-20.2-.4h-.2c-3.5%200-5.9%201.3-7.3%202.5l-.1.1-39.4%2039.5c-2%202-2%205.4%200%207.4l23.3%2023.3c1%201%202.3%201.5%203.7%201.5%201.4%200%202.7-.5%203.7-1.5L64.4%2066c.2-.2.4-.4.6-.7l18.9-18.9c1.2-1.4%203.3-4.4%203.2-8.5l-.4-19.1zm-5.5%2025l-19%2019c-.1.1-.2.2-.2.3-.1.1-.1.2-.2.3L42.4%2082.7c-.6.6-1.6.6-2.2%200L16.9%2059.4c-.6-.6-.6-1.6%200-2.2l39.4-39.4c.9-.7%202.5-1.6%204.8-1.6l20.3.4c.8.1%201.5.5%201.6%202.3l.4%2019.1c0%202.8-1.4%204.9-2.2%205.8zM70%2022.5c-3.9%200-7%203.1-7%207s3.1%207%207%207%207-3.1%207-7-3.1-7-7-7zm0%2010.3c-1.8%200-3.3-1.5-3.3-3.3%200-1.8%201.5-3.3%203.3-3.3%201.8%200%203.3%201.5%203.3%203.3%200%201.8-1.5%203.3-3.3%203.3zM56.8%2051c.7.7.7%201.9%200%202.6L41.3%2069.1c-.4.4-.8.5-1.3.5s-.9-.2-1.3-.5c-.7-.7-.7-1.9%200-2.6L54.2%2051c.7-.7%201.9-.7%202.6%200zm-2-10.8L33.6%2061.4c-.4.4-.8.5-1.3.5s-.9-.2-1.3-.5c-.7-.7-.7-1.9%200-2.6l21.2-21.2c.7-.7%201.9-.7%202.6%200s.7%201.8%200%202.6z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-tag {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20height%3D%22100%22%20width%3D%22100%22%3E%3Cpath%20fill%3D%22%2338d9be%22%20d%3D%22M86.7%2018.8c-.1-3.4-1.9-5.6-5-5.9h-.2l-20.2-.4h-.2c-3.5%200-5.9%201.3-7.3%202.5l-.1.1-39.4%2039.5c-2%202-2%205.4%200%207.4l23.3%2023.3c1%201%202.3%201.5%203.7%201.5%201.4%200%202.7-.5%203.7-1.5L64.4%2066c.2-.2.4-.4.6-.7l18.9-18.9c1.2-1.4%203.3-4.4%203.2-8.5l-.4-19.1zm-5.5%2025l-19%2019c-.1.1-.2.2-.2.3-.1.1-.1.2-.2.3L42.4%2082.7c-.6.6-1.6.6-2.2%200L16.9%2059.4c-.6-.6-.6-1.6%200-2.2l39.4-39.4c.9-.7%202.5-1.6%204.8-1.6l20.3.4c.8.1%201.5.5%201.6%202.3l.4%2019.1c0%202.8-1.4%204.9-2.2%205.8zM70%2022.5c-3.9%200-7%203.1-7%207s3.1%207%207%207%207-3.1%207-7-3.1-7-7-7zm0%2010.3c-1.8%200-3.3-1.5-3.3-3.3%200-1.8%201.5-3.3%203.3-3.3%201.8%200%203.3%201.5%203.3%203.3%200%201.8-1.5%203.3-3.3%203.3zM56.8%2051c.7.7.7%201.9%200%202.6L41.3%2069.1c-.4.4-.8.5-1.3.5s-.9-.2-1.3-.5c-.7-.7-.7-1.9%200-2.6L54.2%2051c.7-.7%201.9-.7%202.6%200zm-2-10.8L33.6%2061.4c-.4.4-.8.5-1.3.5s-.9-.2-1.3-.5c-.7-.7-.7-1.9%200-2.6l21.2-21.2c.7-.7%201.9-.7%202.6%200s.7%201.8%200%202.6z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-tick-red {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-74%2076%20100%20100%22%20enable-background%3D%22new%20-74%2076%20100%20100%22%3E%3Cpath%20fill%3D%22%23f35a66%22%20d%3D%22M-4.8%20102.1c-9.7%2013.6-19.1%2027.2-28.8%2040.8%201.6-.8%202.9-1.6%204.4-2.6%203.4%200%203.9%202.1.8-1l-7.1-7.1-9.4-9.4c-4.7-4.7-11.8%202.6-7.3%207.3l16.5%2016.5c3.9%203.9%207.9%205.8%2011.8.3%209.4-13.1%2018.6-26.4%2028-39.5%203.7-5.5-5.2-10.5-8.9-5.3z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-tick {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-74%2076%20100%20100%22%20enable-background%3D%22new%20-74%2076%20100%20100%22%3E%3Cpath%20fill%3D%22%2338d9be%22%20d%3D%22M-4.8%20102.1c-9.7%2013.6-19.1%2027.2-28.8%2040.8%201.6-.8%202.9-1.6%204.4-2.6%203.4%200%203.9%202.1.8-1l-7.1-7.1-9.4-9.4c-4.7-4.7-11.8%202.6-7.3%207.3l16.5%2016.5c3.9%203.9%207.9%205.8%2011.8.3%209.4-13.1%2018.6-26.4%2028-39.5%203.7-5.5-5.2-10.5-8.9-5.3z%22%2F%3E%3C%2Fsvg%3E');
	}

}