.icon {
	background-repeat: no-repeat;

	&.icon-advert-red {
		background-image: url('../../../public/imgs/svgs-pngs/advert-red.png');
	}

	&.icon-advert {
		background-image: url('../../../public/imgs/svgs-pngs/advert.png');
	}

	&.icon-arrow {
		background-image: url('../../../public/imgs/svgs-pngs/arrow.png');
	}

	&.icon-avail-red {
		background-image: url('../../../public/imgs/svgs-pngs/avail-red.png');
	}

	&.icon-avail {
		background-image: url('../../../public/imgs/svgs-pngs/avail.png');
	}

	&.icon-candidate-red {
		background-image: url('../../../public/imgs/svgs-pngs/candidate-red.png');
	}

	&.icon-candidate-yel {
		background-image: url('../../../public/imgs/svgs-pngs/candidate-yel.png');
	}

	&.icon-candidate {
		background-image: url('../../../public/imgs/svgs-pngs/candidate.png');
	}

	&.icon-close-white {
		background-image: url('../../../public/imgs/svgs-pngs/close-white.png');
	}

	&.icon-close {
		background-image: url('../../../public/imgs/svgs-pngs/close.png');
	}

	&.icon-cross {
		background-image: url('../../../public/imgs/svgs-pngs/cross.png');
	}

	&.icon-desc-red {
		background-image: url('../../../public/imgs/svgs-pngs/desc-red.png');
	}

	&.icon-desc {
		background-image: url('../../../public/imgs/svgs-pngs/desc.png');
	}

	&.icon-discipline-red {
		background-image: url('../../../public/imgs/svgs-pngs/discipline-red.png');
	}

	&.icon-discipline {
		background-image: url('../../../public/imgs/svgs-pngs/discipline.png');
	}

	&.icon-edit-white {
		background-image: url('../../../public/imgs/svgs-pngs/edit-white.png');
	}

	&.icon-facebook {
		background-image: url('../../../public/imgs/svgs-pngs/facebook.png');
	}

	&.icon-fulltime {
		background-image: url('../../../public/imgs/svgs-pngs/fulltime.png');
	}

	&.icon-geo {
		background-image: url('../../../public/imgs/svgs-pngs/geo.png');
	}

	&.icon-google {
		background-image: url('../../../public/imgs/svgs-pngs/google.png');
	}

	&.icon-keyword-red {
		background-image: url('../../../public/imgs/svgs-pngs/keyword-red.png');
	}

	&.icon-keyword {
		background-image: url('../../../public/imgs/svgs-pngs/keyword.png');
	}

	&.icon-linkedin {
		background-image: url('../../../public/imgs/svgs-pngs/linkedin.png');
	}

	&.icon-location-red {
		background-image: url('../../../public/imgs/svgs-pngs/location-red.png');
	}

	&.icon-location {
		background-image: url('../../../public/imgs/svgs-pngs/location.png');
	}

	&.icon-mps {
		background-image: url('../../../public/imgs/svgs-pngs/mps.png');
	}

	&.icon-onboard {
		background-image: url('../../../public/imgs/svgs-pngs/onboard.png');
	}

	&.icon-outboard {
		background-image: url('../../../public/imgs/svgs-pngs/outboard.png');
	}

	&.icon-parttime {
		background-image: url('../../../public/imgs/svgs-pngs/parttime.png');
	}

	&.icon-phone-red {
		background-image: url('../../../public/imgs/svgs-pngs/phone-red.png');
	}

	&.icon-phone {
		background-image: url('../../../public/imgs/svgs-pngs/phone.png');
	}

	&.icon-qual-grey {
		background-image: url('../../../public/imgs/svgs-pngs/qual-grey.png');
	}

	&.icon-qual-red {
		background-image: url('../../../public/imgs/svgs-pngs/qual-red.png');
	}

	&.icon-qual {
		background-image: url('../../../public/imgs/svgs-pngs/qual.png');
	}

	&.icon-quote {
		background-image: url('../../../public/imgs/svgs-pngs/quote.png');
	}

	&.icon-search {
		background-image: url('../../../public/imgs/svgs-pngs/search.png');
	}

	&.icon-tag-red {
		background-image: url('../../../public/imgs/svgs-pngs/tag-red.png');
	}

	&.icon-tag {
		background-image: url('../../../public/imgs/svgs-pngs/tag.png');
	}

	&.icon-tick-red {
		background-image: url('../../../public/imgs/svgs-pngs/tick-red.png');
	}

	&.icon-tick {
		background-image: url('../../../public/imgs/svgs-pngs/tick.png');
	}

}